$border-width: 1px;

$header-color: $fff;
$header-background-color: #673ab7;
$header-background: url('./assets/textured_stripes.png');
$header-border-color: rgb(171, 78, 78);
$header-border-bottom: $border-width solid $header-border-color;
