@import 'themes/professional';

$shadow: #808080;
$line: rgb(171, 78, 78);
$text: #000;
$border-width: 1px;

.header {
  background: $header-background;
  background-color: $header-background-color;
  color: $header-color;
  padding: 14px 6px;
}
